
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,900&family=Great+Vibes&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: radial-gradient(
    circle at center,
    #5B1A18 70%,
    rgba(0, 0, 0, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
	margin-right: auto;
  max-width: 85%;
}
	
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #FAF3E0; 
}

h1 {
  text-transform: uppercase;
  font-family: 'Limelight', cursive;
  font-size: 5rem;
  color: #FFD700;
  line-height: 1.5; 
  text-align: center;
  -webkit-text-stroke: 2px #FFD700;
  background-color: transparent;
  text-shadow: 2px 2px 10px #FAF3E0;
}


header {
  display: block;
  justify-content: center;
  padding: 2rem 3rem;
  margin: 10rem auto;
  border-radius: 5rem;
  max-width: 70%;
  border: 20px double #FFD700;
  box-shadow:
    0 0 6px #FFD700,
    0 0 12px #FFD700,
    0 0 18px #FFD700,
    0 0 30px #FFD700;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #FAF3E0; 
  padding-bottom: 1rem; 
}

h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #FAF3E0; 
  padding-top: 1rem; 
}

#contribute h3 {
  color: #1C1C1C;
}

header h2 {
  font-family: 'Big Shoulders Inline', sans-serif;
  text-shadow: 1px 1px 0 #1C1C1C, 2px 2px 0 #5B1A18;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  text-shadow: 2px 2px 10px #FAF3E0;
}

header p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #FAF3E0; 
  text-decoration-line: underline;
}

#contribute .container:last-of-type a {
  font-family: 'Special Elite', monospace;
  color: #1C1C1C; 
}

#contribute .container:last-of-type a:hover {
  color: #FFD700;
}

a:hover{
  color: #FFD700;
}

.link-github {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center; 
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  text-decoration-line: underline;
}

.link-github svg {
  height: 1em; 
  width: auto;
  margin-right: 0.5rem;
  margin-top: -0.05rem;
  fill: #FFD700;
}


ol li{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem; 
  color: #FAF3E0;
}

nav ul {
  display: flex;
  justify-items: center;
  flex-wrap: wrap; 
  list-style: none;
  margin-bottom: 10rem;
}


/* Parcial credit: Gallery by Olivia NG */
nav ul > li > a,
aside > a {
  background: #FAF3E0;
  text-decoration: none;
  font-size: 1.5rem; 
  color: #1C1C1C;
  background-image: 
  radial-gradient(circle at center left, #5B1A18 10px, transparent 10px), 
  radial-gradient(circle at center right, #5B1A18 10px, transparent 10px), 
  linear-gradient(to left, #FFD700 0px, #FFD700 20px, transparent 18px), 
  linear-gradient(to right, #FFD700 0px, #FFD700 20px, transparent 20px), 
  linear-gradient(to bottom, #FAF3E0 0px, #FAF3E0 7px, transparent 7px), 
  linear-gradient(to top, #FAF3E0 0px, #FAF3E0 7px, transparent 7px), 
  linear-gradient(to right, #FAF3E0 0px, #FAF3E0 26px, #FFD700 26px, #FFD700 28px, transparent 28px), 
  linear-gradient(to left, #FAF3E0 0px, #FAF3E0 26px, #FFD700 26px, #FFD700 28px, transparent 28px), 
  linear-gradient(to bottom, transparent 0px, transparent 7px, #FFD700 7px, #FFD700 9px, transparent 9px), 
  linear-gradient(to top, transparent 0px, transparent 7px, #FFD700 7px, #FFD700 9px, transparent 9px);
  padding: 0.75rem 2.5rem;
  border-radius: 7px;
  font-family: 'Great Vibes', cursive;
  box-shadow: 0 20px 15px -15px #1C1C1C;
  border-radius: 8px;
  border-width: 2px 0;
}

nav ul > li > a:hover,
.skip-link:hover,
aside > a:hover {
  background-color: #FFD700;
  color: #1C1C1C;
}

.link-guidelines {
  background: #FAF3E0;
  text-decoration: none;
  display: flexbox; 
  justify-items: center;
  font-size: 1.5rem; 
  color: #1C1C1C;
  background-image: 
  radial-gradient(circle at center left, #1C1C1C 10px, transparent 10px), 
  radial-gradient(circle at center right, #1C1C1C 10px, transparent 10px), 
  linear-gradient(to left, #84755E 0px, #84755E 20px, transparent 18px), 
  linear-gradient(to right, #84755E 0px, #84755E 20px, transparent 20px), 
  linear-gradient(to bottom, #FAF3E0 0px, #FAF3E0 7px, transparent 7px), 
  linear-gradient(to top, #FAF3E0 0px, #FAF3E0 7px, transparent 7px), 
  linear-gradient(to right, #FAF3E0 0px, #FAF3E0 26px, #84755E 26px, #84755E 28px, transparent 28px), 
  linear-gradient(to left, #FAF3E0 0px, #FAF3E0 26px, #84755E 26px, #84755E 28px, transparent 28px), 
  linear-gradient(to bottom, transparent 0px, transparent 7px, #84755E 7px, #84755E 9px, transparent 9px), 
  linear-gradient(to top, transparent 0px, transparent 7px, #84755E 7px, #84755E 9px, transparent 9px);
  padding: 0.75rem 2.5rem;
  border-radius: 7px;
  font-family: 'Great Vibes', cursive;
  box-shadow: 0 20px 15px -15px #84755E;
  border-radius: 8px;
  border-width: 2px 0;
}

.link-guidelines:hover {
   -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #84755E;
  color: #1C1C1C;
}

@media screen and (min-width: 1230px) and (max-width: 1300px) {
  .link-guidelines {
    font-size: 1rem;
  }
}

nav li, 
a.link-guidelines {
  transform: rotate(-5deg);
  margin: 1.2rem;
}

@media screen and (min-width: 1230px) {
  #main > .container, 
  aside.profile div.container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "about about"
      "guidelines contribute"
      ". contribute";
    gap: 2em;
  }

  #main > .container > article#about {
    grid-area: about; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "sec1 sec2";
      gap: 2em;
  }

  #main > .container > article#guidelines {
    grid-area: guidelines; 
  }

  #main > .container > article#contribute {
    grid-area: contribute;  
    display: grid; 
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "sec4"
      "sec5"
      "src";
    gap: 2em;
    margin-top: 5em;
  }
}


/*
#main > .container > article#about, 
#main > .container > article#guidelines, 
#main > .container > article#contribute {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "sec1 sec2"
    "sec1 sec4"
    "sec3 sec5"
    "sec3 ."
    "src src";
  gap: 2em;
}
  */

#main section.container {
  background-color: #1C1C1C;
  padding: 5em 5em; 
  margin-left: 10px; 
  margin-right: 10px;
  border-left: solid 40px #1C1C1C;
  border-right: solid 40px #1C1C1C;
  border-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 40px,
    #5B1A18 40px,
    #5B1A18 80px
    )100 stretch;
  outline: 10px solid #1C1C1C;
}

#main > .container > article#about > section.container:nth-of-type(odd) {
  grid-area: sec1;
  transform: translateY(-5rem); 
}

#main > .container > article#about > section.container:nth-of-type(even) {
  grid-area: sec2; 
}

#main > .container > article#contribute > section.container:first-of-type {
  grid-area: sec4;
}

@media screen and (max-width: 1230px) {
  #main > .container > article#guidelines,
  #main > .container > article#contribute > section.container:first-of-type {
    margin-top: 5em;
  }
}

#about section.container:first-of-type blockquote p {
  display: block;
  width: 120%;
  transform: rotate(5deg); 
  background-color: #FAF3E0;
  font-family: 'Special Elite', monospace;
  color: #1C1C1C;
  padding: 3rem 2rem; 
  margin: 4rem auto; 
  box-shadow: 0 5px 15px #84755E;
  border-radius: 2px;
}

#about section.container:first-of-type blockquote p strong {
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #5B1A18;
}

#about section.container:first-of-type blockquote a {
  font-family: 'Special Elite', monospace;
  color: #1C1C1C;
}

#about section.container:nth-of-type(2) ul {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: disc;
  background-color: #FAF3E0;
  transform: rotate(-3deg); 
  width: 100%;
  padding: 2rem; 
  margin: 4rem auto; 
  box-shadow: 0 5px 10px #84755E;
  border-radius: 2px;
}

@media screen and (max-width: 710px) {
  #about section.container:nth-of-type(2) ul {
    display: grid; 
    grid-template-columns: 1fr;
    list-style: disc;
    background-color: #FAF3E0;
    transform: rotate(-3deg); 
    width: 100%;
    padding: 2rem; 
    margin: 4rem auto; 
    box-shadow: 0 5px 10px #84755E;
    border-radius: 2px;
  }
}

#about section.container:nth-of-type(2) ul li {
  font-family: 'Special Elite', monospace;
  color: #1C1C1C;
  line-height: 1;
}

#guidelines h3 + p {
  border-top: double 5px #84755E;
  border-bottom: double 5px #84755E;
  padding: 1rem 0;
}

#guidelines section.container p:last-of-type {
  margin-bottom: 4rem;
}

#main > .container > article#contribute > section.container:last-of-type {
  grid-area: sec5;
  transform: rotate(3deg); 
  width: 80%;
  list-style: disc;
  background-color: #FAF3E0;
  padding: 2rem; 
  margin: 4rem auto; 
  box-shadow: 0 5px 10px #84755E;
  border-radius: 2px;
  border: none;
  outline: none;
}

#main > .container > article#contribute > section.container:last-of-type ol li {
  font-family: 'Special Elite', monospace;
  color: #1C1C1C;
  line-height: 1.5;
}

#main > .container > article#contribute > footer#files {
  grid-area: src; 
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: auto;
  margin: 0rem auto 3rem auto; 
  width: fit-content;
}

#main > .container > article#contribute > footer#files > div.container h3 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FAF3E0;
  margin-bottom: 1rem;
}

#main > .container > article#contribute > footer#files > div.container a {
  font-family: 'Montserrat', sans-serif; 
  color: #FAF3E0; 
  font-weight: 200; 
  line-height: 1.5;
  justify-content: space-between;
  margin: 0 5rem 2rem 5rem;
  text-shadow: 2px 2px 5px #1C1C1C;
}

#main > .container > article#contribute > footer#files > div.container a:hover {
  color: #FFD700;
}

@media screen and (min-width: 1230px) {
  #main > .container > article#contribute > footer#files > div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10em auto 3rem auto; 
    width: fit-content;
  }

  #main > .container > article#contribute > footer#files > div.container a {
    font-family: 'Montserrat', sans-serif; 
    color: #FAF3E0; 
    font-weight: 200; 
    line-height: 2;
    margin: 0 auto;
    text-shadow: 2px 2px 5px #1C1C1C;
  } 

  aside.profile div.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "h4"
      "ul"
      "a";
    gap: auto;
    margin-top: -15em;
    line-height: 1;
  }

  aside.profile div.container h4 {
    grid-area: h4;
    text-align: center;
    margin-bottom: -1em;
  }

  aside.profile div.container ul {
    grid-area: ul;
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 0;
    margin: 0;
  }

  aside.profile div.container a {
    grid-area: a;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}


aside.profile div.container ul,
aside.profile div.container ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #FAF3E0;
  list-style: none;
  display: flex; 
  text-shadow: 2px 2px 5px #1C1C1C;
}

aside.profile div.container ul {
  flex: 1 1 auto;
  justify-content: space-evenly;
  align-items: center;
}

aside.profile div.container ul li {
  margin: 0 auto 1rem auto;
  font-weight: 200;
}

aside.profile div.container a:last-of-type, 
a.link-allstyles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic; 
  text-align: center;
  display: flex; 
  justify-content: center;
}

@media screen and (max-width: 1035px) {
  #main > .container > article#contribute > footer#files > div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto auto 3rem auto; 
    width: fit-content;
  }

  #main > .container > article#contribute > footer#files > div.container a {
    font-family: 'Montserrat', sans-serif; 
    color: #FAF3E0; 
    font-weight: 200; 
    line-height: 2;
    margin: 0 auto;
    text-shadow: 2px 2px 5px #1C1C1C;
  } 

  aside.profile div.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "h4"
      "ul"
      "a";
    gap: auto;
    line-height: 1;
  }

  aside.profile div.container h4 {
    grid-area: h4;
    text-align: center;
  }

  aside.profile div.container ul {
    grid-area: ul;
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding-top: 2em;
    margin: 0;
  }

  aside.profile div.container a {
    grid-area: a;
    text-align: center;
    padding-top: 0;
    margin: 0;
  }
}

aside.profile div.container a:last-of-type:hover, 
a.link-allstyles:hover {
  color: #FFD700;
}

h4 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FAF3E0;
}

aside.profile div.container a:last-child, 
a.link-allstyles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic; 
  text-align: center;
}

a.link-allstyles {
 margin-bottom: 1em;
}

aside.profile div.container a:last-child:hover, 
a.link-allstyles:hover {
  color: #FFD700;
}

aside#styles div.container h2 {
  font-family: 'Big Shoulders Inline', sans-serif;
  text-shadow: 1px 1px 0 #1C1C1C, 2px 2px 0 #5B1A18;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 10px #FAF3E0;
}

aside#styles div.container ul li {
  list-style: none;
  text-align: center;
}

aside#styles div.container ul li a {
  font-family: 'Big Shoulders Inline', sans-serif;
  text-shadow: 1px 1px 0 #1C1C1C, 2px 2px 0 #5B1A18;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3;
  text-shadow: 2px 2px 10px #FAF3E0;
}

aside#styles div.container ul li a + span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #FAF3E0; 
}

aside#styles div.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  margin: 10rem auto;
  border-radius: 5rem;
  max-width: 50%;
  border: 20px double #FFD700;
  box-shadow:
    0 0 6px #FFD700,
    0 0 12px #FFD700,
    0 0 18px #FFD700,
    0 0 30px #FFD700;
}

.skip-link {
  display: flex;
  flex: 1 1 auto;
  font-family: 'Special Elite', monospace;
  position: absolute;
  margin-top: 3rem;
  margin-left: 5rem;
}

.page-footer p, 
.page-footer li
.page-footer li a {
  font-size: 1rem;
  text-align: center;
  font-weight: 200; 
}

.page-footer .link-github {
  font-size: 1rem;
  margin-top: -0.05rem;
}

.page-footer p:last-of-type {
  margin-bottom: 5rem;
}

.page-footer ul {
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-footer li {
  margin: 0 2rem;
}

.page-footer p:first-of-type {
  margin-top: 5rem;
}
